@model Etkinliks
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-heading border bottom">
                <h4 class="card-title text-center">Yeni Etkinlik Ekle</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto">
                        <form asp-controller="YonetimEtkinlikler" asp-action="Guncelle" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                            <div class="form-group">
                                <label>Etkinlik Ad</label>
                                <input type="text" class="form-control" asp-for="EtkinlikAd" value="@Model.EtkinlikAd">
                            </div>
                            <div class="form-group">
                                <label>Etkinlik Tarihi</label>
                                <input type="text" class="form-control" asp-for="Tarih" value="@Model.Tarih">
                            </div>
                            <div class="form-group">
                                <label>Etkinlik Açıklama</label>
                                <input type="text" class="form-control" asp-for="EtkinlikAciklama" value="@Model.EtkinlikAciklama">
                            </div>
                            <center><button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Etkinlik Güncelle</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

