
@{
    ViewData["Title"] = "BizKimiz";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">BİZ KİMİZ?</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row justify-content-center d-flex align-items-center">

            <p style="font-size:16px">IEEE Selçuk Öğrenci Kolu olarak; üniversite eğitimi sonrasındaki profesyonel iş hayatına teknik ve sosyal açıdan daha hazır olmak adına, her disiplini ve alanı bir arada tutan, beraber büyümeyi ve gelişmeyi hedefleyen, yenilikler içeren çalışmalar yürütüyoruz.</p>
            
        </div>
        <p>

    </div>
</section>
<!-- End Ieee Nedir Area -->