@model ReflectionIT.Mvc.Paging.IPagingList<Blogs>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center" id="yonet-title">
                    <h1 class="mb-10">Blog Yazılarımız</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row justify-content-center d-flex align-items-center">

            @foreach (var item in Model)
            {
                <div class="col-md-3 idari-team">
                    <div class="thumb">
                        <img class="img-fluid yonetimimg" src="~/img/bloglar/@item.Fotograf" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="/Anasayfa/BlogDetay/@item.Id"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>@item.Baslik</h4>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="container text-center">
        <br />
        @for (var p = 1; p <= Model.PageCount; p++)
        {
            <a href="@Url.Action("Blog", new { sayfa = p })" class="btn btn-outline-info page-item">@p</a>
        }
    </div>
</section>
<!-- End team Area -->
