@model ViewModels
@{
    ViewData["Title"] = "EtkinlikDetay";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="team-area section-gap pt-5">
    <div class="container">

        <center>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <b><p>@Model.Etkinliks.EtkinlikAd</p></b>
                    </div>
                </div>
            </div>
        </center>
        <br />

        @if (Model.EtkinlikFotografs.Count() > 0)
        {
            <center>
                <div class="col-md-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-height:600px; overflow:hidden;">
                        <div class="carousel-inner">

                            @{int i = 0;}
                            @foreach (var item in Model.EtkinlikFotografs)
                            {
                                i++;
                                var active = i == 1 ? "active" : "";
                                <div class="carousel-item SliderSınıfı @active">
                                    <img class="d-block" style="width: 100%; height: auto;" src="~/img/etkinlikler/@item.Fotograf" alt="@item.Ad" />
                                </div>
                            }

                        </div>
                        <div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>

                        <div>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </center>
            <br />
        }
        else
        {
            <center>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            Bu Etkinliğe Ait Fotoğraf Bulunamadı...
                        </div>
                    </div>
                </div>
            </center>
            <br />
        }

        <center>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p>@Model.Etkinliks.EtkinlikAciklama</p>
                    </div>
                </div>
            </div>
        </center>
        <br />



        <center>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <a href="/Anasayfa/Etkinlikler/" class="btn btn-outline-info">Geriye Dön</a>
                    </div>
                </div>
            </div>
        </center>
        <br />

    </div>
</section>


