@model IEnumerable<Etkinliks>
@{
    ViewData["Title"] = "Etkinlikler";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center" id="yonet-title">
                    <h1 class="mb-10">Etkinliklerimiz</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <center>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8 text-center">
                                            @if (item.EtkinlikAd.Length > 30)
                                            {
                                                <p>@item.EtkinlikAd.Substring(0, 30) ...</p>
                                            }
                                            else
                                            {
                                                <p>@item.EtkinlikAd</p>

                                            }
                                        </div>
                                        <div class="col-md-4">
                                            <center><a href="/Anasayfa/EtkinlikDetay/@item.Id" class="btn btn-outline-info">İncele</a></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </center>
                </div>
            }
        </div>

    </div>
</section>
<!-- End Ieee Nedir Area -->
