@model IEnumerable<Etkinliks>
@{
    ViewData["Title"] = "Etkinlikler";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Etkinlikler</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <center>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8 text-center">
                                            @if (item.EtkinlikAd.Length > 30)
                                            {
                                                <p>@item.EtkinlikAd.Substring(0, 30) ...</p>
                                            }
                                            else
                                            {
                                                <p>@item.EtkinlikAd</p>

                                            }
                                        </div>
                                        <div class="col-md-4">
                                            <center><a href="/Anasayfa/EtkinlikDetay/@item.Id" class="btn btn-outline-info">İncele</a></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </center>
                </div>
            }
        </div>

    </div>
</section>
<!-- End Ieee Nedir Area -->
