
@{
    ViewData["Title"] = "IdariKurul";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center" id="yonet-title">
                    <h1 class="mb-10">İDARİ KURUL ÜYELERİMİZ</h1>
                    <hr>


                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/omerdogan.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>ÖMER DOĞAN</h4>
                    <p>PES Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/mehmet.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>MEHMET YOZGATLI</h4>
                    <p>CS Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/ramazan.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>RAZAMAN ÖZTÜRK</h4>
                    <p>RAS Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/sinemertekin.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>SINEM ERTEKIN</h4>
                    <p>EAC Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/ebruordek.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>EBRU ÖRDEK</h4>
                    <p>TEMS Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 idari-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/furkanturhan2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>FURKAN TURHAN</h4>
                    <p>ComSoc Başkanı</p>
                </div>
            </div>

        </div>
        <p>
            <span class="kalin">CS:</span> Computer Society <br>
            <span class="kalin">PES:</span> Power and Energy Society <br>
            <span class="kalin">ComSoc:</span> Communications Society <br>
            <span class="kalin">RAS:</span> Robotic and Automation Society <br>
            <span class="kalin">EAC:</span> Educational Activities Committee <br>
            <span class="kalin">TEMS:</span> Technology and Engineering Management Society
        </p>
    </div>
</section>
<!-- End team Area -->
