
@{
    ViewData["Title"] = "IeeeNedir";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">IEEE NEDİR?</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row justify-content-center d-flex align-items-center">

            IEEE, The Institue of Electrical and Electronics Engineers yani Elektrik ve Elektronik Mühendisleri Enstitüsü, başta elektrik, elektronik, bilgisayar ve telekomünikasyon alanlarında olmak üzere birçok alanda mühendislik teorileri ve uygulamalarını geliştirmeye çalışan ve kar amacı gütmeyen bir kuruluştur. Aynı zamanda dünyanın önde gelen sayılı teknik organizasyonlarındandır. Bu organizasyonun temelleri 19. Yüzyılda Graham Bell ve Thomas Edison gibi dönemin önemli bilim adamlara tarafından atılmıştır.

            IEEE, Türkiye’nin de içinde bulunduğu 150 ülkede 400.000’den fazla üyeyle faaliyet göstermektedir. 400.000 kadar üyenin 70.000’den fazlası öğrencidir. Türkiye’de bu organizasyona dâhil olan kişi sayısı 25.000’dir ve bunların 5000’den fazlası öğrencidir. Bu organizasyon dünyada elektrik, elektronik, bilgisayar ve otomasyon mühendisliklerinin yayınladıkları yayınların yaklaşık %30’unu yayınlar.

            Günümüzde internet bağlantılarında kullanılan wireless (kablosuz) ve ethernet (kablolu) bağlantı türlerini ve kablosuz internetlerde sıklıkla karşılaştığımız “802” ile başlayan kodların geliştiricileri de yine IEEE organizasyonudur.

            Merkezi ABD’nin New Jersey eyaletinde olan kuruluşun temel amaçları teknolojiyi geliştirmeye yönelik teşviklerde bulunmak ama teknoloji sayesinde dünya çapında toplulukların ilerleyebilmesini sağlamaktır. Ayrıca IEEE üyeleri hem bu alanda kendini geliştirebilir hem de ürettikleri projeleri dünyaya daha kolay sunma fırsatına sahip olabilirler. IEEE bunları yapabilmek için dünya genelinde çeşitli yayınlar yapar ve üniversitelerdeki IEEE öğrenci kolları aracılığı ile yine üniversitelerde konferanslar toplantılar düzenler. Her yıl yüzlerce uluslar arası konferans ve binlerce toplantı düzenlenir. Mesleki ve teknik standartlar belirler ve bu standartları IEEE ile ifade ederi. Eğer başında IEEE olan bir teknik terim gördüyseniz bilin ki o terim IEEE tarafından belirlenmiştir. Özellikle bilişim alanında birçok standart IEEE standartıdır. Hatta yine bilişim ve elektrik elektronik ile ilgili olan bir çok standart kuruluşta IEEE standartları üzerine kurulmaktadır.
        </div>
        <p>

    </div>
</section>
<!-- End Ieee Nedir Area -->
