
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="../template/img/r1.jpg">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen  d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-6 col-md-12">
                <h1>
                    <span>IEEE Selçuk</span>  <br>
                    <span>Öğrenci</span> <span>Topluluğu</span>
                </h1>
                <a href="#" class="primary-btn2 header-btn text-uppercase">BİZ KİMİZ</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start service Area-->
<section class="service-area pt-100 pb-150" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">BİZ KİMİZ?</h1>
                    <p>IEEE Selçuk Öğrenci Kolu olarak; üniversite eğitimi sonrasındaki profesyonel iş hayatına teknik ve sosyal açıdan daha hazır olmak adına, her disiplini ve alanı bir arada tutan, beraber büyümeyi ve gelişmeyi hedefleyen, yenilikler içeren çalışmalar yürütüyoruz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sigle-service col-lg-3 col-md-6 text-center">
                <span class="lnr lnr-rocket"></span>
                <h4>Yönetim Kurulu</h4>
                <p>
                    Kulüp başkanı, yardımcıları, genel sekreter ve direktörlerden oluşan bu kurul, kulübün işleyişini düzenler.
                    <br>
                    <br>
                    <br>

                </p>
                <a href="/Anasayfa/YonetimKurulu/" class="text-uppercase primary-btn2 primary-border circle">Daha fazlası</a>
            </div>
            <div class="sigle-service col-lg-3 col-md-6 text-center">
                <span class="lnr lnr-magic-wand"></span>
                <h4>İdari Kurul</h4>
                <p>
                    Komite başkanları, yardımcıları ve etkinlik koordinatörlerinden oluşan bu kurul, her hafta yapılan toplantıyla kulübün işleyişi hakkında kararlar alır.
                    <br>

                </p>
                <a href="/Anasayfa/IdariKurul/" class="text-uppercase primary-btn2 primary-border circle">Daha fazlası</a>
            </div>
            <div class="sigle-service col-lg-3 col-md-6 text-center">
                <span class="lnr lnr-gift"></span>
                <h4>Aramıza Katıl</h4>
                <p>
                    Enerjik takım arkadaşlarına asla hayır demeyiz. Gel sen de bu kocaman aileye katıl.
                    <br>
                    <br>
                    <br>
                </p>
                <a href="/Anasayfa/Katil/" class="text-uppercase primary-btn2 primary-border circle">Daha fazlası</a>
            </div>
            <div class="sigle-service col-lg-3 col-md-6 text-center">
                <span class="lnr lnr-phone"></span>
                <h4>Blog</h4>
                <p>
                    IEEE Selçuk Topluluk Üyelerinin yazmış olduğu blog yazılarını incelemek istersen tıkla.
                    <br>
                    <br>
                    <br>

                </p>
                <a href="/Anasayfa/Blog/" class="text-uppercase primary-btn2 primary-border circle">Daha fazlası</a>
            </div>

        </div>
    </div>
</section>
<!-- end service Area-->
<!-- Start skill Area -->
<section class="skill-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 skill-left">
                <h1 class="text-white mb-30">Bizim Rakamlarımız</h1>
                <p>
                    2015 Yılından Bu Yana Aktif Olan Topluluğumuzun Rakamları <br> Şimdiye Kadar Gerçekleştirdiğimiz Projeler, Takım Arkadaşları, Ödüllerimiz...
                </p>
            </div>
            <div class="col-lg-6 skill-right">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill1 d-block mx-auto"></div>
                        <h4>Proje</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill2 d-block mx-auto"></div>
                        <h4>Aktif Üye</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill3 d-block mx-auto"></div>
                        <h4>Ödül</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End skill Area -->

<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">DESTEKÇİLERİMİZ</h1>
                    <p>Bütün Projelerimizin Etkinliklerimizin Sonuna Kadar Destekçileri </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/template/img/selcukSponsor.png" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Selçuk Üniversitesi</h4>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/template/img/innoSponsor.png" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>InnoPark</h4>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/template/img/girisimciSponsor.png" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Girişimci Rampası</h4>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/template/img/genclikSponsor.png" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Gençlik Merkezi</h4>
                </div>
            </div>

        </div>
    </div>
</section>