
@{
    ViewData["Title"] = "MesajBasari";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="team-area section-gap">
    <div class="container">

        <center>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Mesajınız Başarıyla Gönderilmiştir.<br />
                            En Yakın Zamanda Size Geri Dönüş Yapılacaktır<br />
                            İlginiz İçin Teşekkür Ederiz...
                        </p>
                    </div>
                </div>
            </div>
        </center>
        <br />


        <center>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <a href="/Anasayfa/Index" class="btn btn-success">Anasayfaya Dön</a>
                    </div>
                </div>
            </div>
        </center>
        <br />

    </div>
</section>


