
@{
    ViewData["Title"] = "YonetimKurulu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center" id="yonet-title">
                    <h1 class="mb-10">YÖNETİM KURULU ÜYELERİMİZ</h1>
                    <hr>

                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/selim.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>SELIM ÇAKAR</h4>
                    <p>Yönetim Kurulu Başkanı</p>
                </div>
            </div>
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/emineselin.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>EMINE SELIN KOCAOĞLU</h4>
                    <p>Yönetim Kurulu Başkan Yardımcısı</p>
                </div>
            </div>
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/emre.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>EMRE USLU</h4>
                    <p>Yönetim Kurulu Kıdemli Üyesi</p>
                </div>
            </div>
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/canan.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>CANAN BULUT</h4>
                    <p>Yönetim Kurulu Kıdemli Üyesi</p>
                </div>
            </div>
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/mertdagadasi.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>MERT DAĞADASI</h4>
                    <p>Finans Direktörü</p>
                </div>
            </div>
            <div class="col-md-3 kurul-team">
                <div class="thumb">
                    <img class="img-fluid yonetimimg" src="~/template/img/meldaciftci.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">

                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>MELDA MERYEM ÇIFTÇI</h4>
                    <p>Genel Sekreter</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End team Area -->
