
@{
    ViewData["Title"] = "TeknikDestek";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title text-center">Teknik Destek</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Duyurular Bölümü</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p>- Anasayfada Bulunan Duyurular Bölümüne Eklemeler Yapmak İçin Kullanılır.</p>
                            <p>- Duyuru Ekleme, Silme, Güncelleme İşlemlerini Yapabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Yöneticiler Bölümü</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p>- Sistemi Kullanan Üye Eklemesi Yapmak İçin Kullanılır.</p>
                            <p>- Yönetici Ekleme, Silme, Güncelleme İşlemlerini Yapabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Etkinlikler Bölümü</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p>- Anasayfada Bulunan Etkinlikler Bölümüne Eklemeler Yapmak İçin Kullanılır.</p>
                            <p>- Etkinlik Ekleme, Silme, Güncelleme İşlemlerini Yapabilirsiniz.</p>
                            <p>- Etkinliğe Ait Fotoğraf Ekleme İşlemleri İçin Fotoğraflar Bölümünü Kullanın.</p>
                            <p>- Fotoğrafı Bulunan Etkinliği Silmek Sistemde Hatalara Yer Açabilir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">İletişim Bölümü</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p>- İletişim Bölümünü Kullanarak Gönderilen Mesajların Listelendiği Bölümdür.</p>
                            <p>- Mesaj Silme Ve Güncelleme İşlemlerini Yapabilirsiniz.</p>
                            <p>- Mesajı Okundu Veya Okunmadı Olarak Güncelleyebilirsiniz.</p>
                            <p>- Belirli Zaman Aralıklarında Eski Mesajları Silmek Sistemi Hızlandırır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Sorun Oluşursa</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p class="text-center">Eğer Sistemde Çözemediğiniz Bir Sorun Çıkarsa İletişim Adresi</p>
                            <p class="text-center">kurnaz.berke1907@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Bilgiler</h4>
                        <hr />
                        <div class="mrg-top-20">
                            <p>- Asp.Net Core Mvc 2 İle Geliştirilmiştir.</p>
                            <p>- LiteDb Veritabanı Kullanır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    
Created By BERKE KURNAZ

-->