
@{
    ViewData["Title"] = "Comsoc";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Communications Society</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Communications Society</b>
                        <hr />
                        <p style="font-size:16px">
                            IEEE Halkla İlişkiler ve Tanıtım Komitesinin vizyonu dünyadaki profesyonellerin topluluk üzerinden birbirleri ile iletişim kurabilmesini sağlamaktır. Çalışmalarında optik, kablosuz kanallar ve ağlar kullanır. Bilgi toplama ve transferi için bilim teknoloji ve uygulamalarını benimser. Sadece bunlarla sınırlı kalmayıp network sistemler, terminaller, dağıtım sistemleri, kullanıcı araçları gibi konuları da dahil eder. Uluslararası konferanslar üzerinden iletişimler sağlar. Diğer bir yandan da uluslararası iletişim konferansları yıllık olarak desteklenmektedir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
</section>
<!-- End Ieee Nedir Area -->
