
@{
    ViewData["Title"] = "Eac";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Educational Activities Committee</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Educational Activities Committee</b>
                        <hr />
                        <p style="font-size:16px">
                            Komitemizin amacı günlük hayatta karşılaşılan problemleri belirleyip çözümler aramak, öğrencileri teknik yönden bilinçlendirmek ve geliştirmek, insanlığa ve doğaya yararlı sosyal sorumluluk projeleri üretmektir.
                        </p>
                        <p style="font-size:16px">
                            Her dönem, Türkiye çapında da yapılan “Hour Of Code” etkinliğini bir ortaokul seçerek yapıyoruz. Etkinliğimizin amacı öğrencilere algoritmayı öğretmek, bu konuda onları bilinçlendirmek, kodlamayla tanışmalarını sağlamaktır. Böylece düşünme becerisi gelişen, sorunlara çözüm odaklı yaklaşan bunları teknolojiyi kullanarak yapabilen birey olmalarına yardımcı olmaktır. Etkinliğimizde öncelikle öğrencilere kodlamanın önemi anlatılır bu konuda algoritmayla ilgili bilgiler verilir. Ardından bir oyunla bu eğlenceli hale getirilerek kodlama mantığını kavramalarına yardımcı olunur. Etkinlik sonunda öğrencileri motive etmek amacıyla başarı sertifikası verilir.
                        </p>
                        <p style="font-size:16px">
                            Öğrencileri mühendislik hakkında bilinçlendirmek bu konuda sorularını yanıtlamak onlara yardımcı olmak amacıyla TISP (Teacher In Service Program) etkinliğini lise düzeyindeki öğrencilerle gerçekleştiriyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
</section>
<!-- End Ieee Nedir Area -->
