
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Komiteler</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <center>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <p>
                                    Teknik Projeler Komitesi
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p>
                                    <a href="/Komiteler/TeknikProjeler/" class="btn btn-info">İncele</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <p>
                                    Communications Society
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p>
                                    <a href="/Komiteler/Comsoc/" class="btn btn-info">İncele</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <p>
                                    Educational Activities Committee
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p>
                                    <a href="/Komiteler/Eac/" class="btn btn-info">İncele</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <p>
                                    Technology and Engineering Management Society
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p>
                                    <a href="/Komiteler/Tems/" class="btn btn-info">İncele</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <br />
        </center>


    </div>
</section>
<!-- End Ieee Nedir Area -->
