
@{
    ViewData["Title"] = "TeknikProjeler";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">TEKNİK PROJELER</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-12">
                <p style="font-size:16px">
                    Selçuk Ieee Teknik Projeler Komitesi Computer Society, Power And Energy Society ve Robotic And Automation Society Komitelerinden Oluşan Topluluğun Mühendislik Ve Teknik Gerektiren İşlerini Yerine Getiren Komitedir.
                </p>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Computer Society</b>
                        <hr />
                        <p style="font-size:17px">
                            Bilişim teknolojilerine meraklı üyelerin katılımıyla oluşan IEEE Selçuk Computer Society’nin temel amacı, üyelerin projeler üzerinden bilgisayar ve bilgi işleme teknolojisine dayalı yeteneklerini geliştirmesine imkan sağlayacak ortam yaratmaktır.
                        </p>
                        <p style="font-size:17px">
                            Odağında farklı programlama dillerinde uygulama ve algoritma geliştirme bulunan komite, projelerin geliştirilmesine katkıda bulunmanın yanısıra üyelerin ihtiyaç duyduğu mentörlük, eğitim ve tartışma ortamını sağlamak amacıyla birçok faaliyette bulunmaktadır. Komite, yıl içinde düzenlenen C, Android Uygulama Geliştirme, Unity,Python, Web Programlama gibi eğitimlerle üyelerin bilişim teknolojilerindeki yeteneklerini geliştirmeye çalışmaktadır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Power and Energy Society</b>
                        <hr />
                        <p style="font-size:17px">
                            IEEE Güç ve Enerji Topluluğu (IEEE PES) veya eski adı ile IEEE Güç Mühendisliği Topluluğu, IEEE'nin en eski topluluğudur ve kar amacı gütmeyen bir oluşumdur. Dünya çapında 100,000'den fazla üyesiyle sektöre liderlik eden IEEE PES, alanındaki en önemli kurumlardan birisidir. Sektörel olarak belirlediği standartlar, destek verdiği Ar-Ge çalışmaları, uyguladığı eğitim programları ve bunların dışında aldığı bir çok etkin rol ile IEEE PES; mühendislerin, bilim insanlarının, öğrencilerin, sektörün liderlerinin ve onların çalışanlarının en büyük destekçilerindendir.
                        </p>
                        <p style="font-size:17px">
                            IEEE Selçuk Güç ve Enerji Topluluğu ise IEEE Selçuk Öğrenci Kolu bünyesinde bulunan teknik alt birimlerden bir tanesidir. Resmi olarak 2013 yılında kurulmuş IEEE Selçuk PES, yeni kurulmuş olmanın verdiği heyecan ve enerji ile çalışmalarına son sürat devam etmektedir. Üyeleri ile güç ve enerji konuları üzerine çalışmakta olan IEEE Selçuk PES; geliştirdiği projeler, verdiği eğitimler, düzenlediği seminer ve konferanslar ile IEEE Selçuk Öğrenci Kolu'nun en aktif gruplarından birisidir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Robotic and Automation Society</b>
                        <hr />
                        <p style="font-size:17px">
                            RAS olarak misyonumuz, üyeler, meslek ve insanlığa yarar sağlayan Robotik ve Otomasyon alanında bilim ve teknolojinin gelişimini desteklemek, bu alanda bilgi alışverişini artırmak ve kolaylaştırmaktır. Vizyonumuz ise, Robotik ve Otomasyon alanında en tanınmış ve saygın öğrenci topluluğu olmaktır.
                        </p>
                        <p style="font-size:17px">
                            Önümüzdeki yıl misyonumuz doğrultusunda verdiğimiz teknik eğitimleri geliştirerek devam etmeyi, Robotik ve Otomasyonla daha çok insanı tanıştırabilmek, halihazırda bu alanda çalışma yapan topluluklar arasındaki iletişimi ortak yarışmalarla artırmak için çalışmalar yapmayı planlıyoruz. Vizyonumuz ışığında yaptığımız çalışmalarla ulusal ve uluslararası arenada yarışma, sunum ve kongrelere katılarak okulumuzu ve IEEE Selçuk'u en iyi şekilde temsil edeceğimize inanıyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Ieee Nedir Area -->
