
@{
    ViewData["Title"] = "Tems";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Technology and Engineering Management Society</h2>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Ieee Nedir Area -->
<section class="team-area section-gap" id="team">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <b style="color:#000000">Technology and Engineering Management Society</b>
                        <hr />
                        <p style="font-size:16px">
                            Komitemiz konferanslar, teknik geziler, vaka analizi yarışmaları gibi etkinlikler düzenleyerek topluluğumuzdaki her bir üyenin kendini geliştirebilmesi için çalışır. Üyelerimizin gelişimlerini sağlayacak etkinliklerin takibi ve paylaşılmasından da sorumludur. Aynı zamanda etkili sunum teknikleri, girişimcilik, kariyer planlaması, etkili konuşma, motivasyonu yükseltme, zaman yönetimi gibi konularda eğitimler düzenleyerek bu gibi kişisel gelişim konularında topluluk üyelerini teşvik eder. Çağa ayak uydurabilmek için Endüstri 4.0, IoT , Yapay zeka, Toplum 5.0 gibi konularda da araştırmalar yaparak edindiği bilgileri diğer topluluk üyeleriyle paylaşır. Topluluğun durumunu ve politikasını geliştirmek için değerlendirmelerde ve aktarmalarda bulunur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
</section>
<!-- End Ieee Nedir Area -->
