@model EtkinlikFotografs
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    input[type="file"] {
        cursor: pointer !Important;
        font: 300 14px sans-serif;
        color: #9e9e9e;
    }

        input[type="file"]::-webkit-file-upload-button {
            font: 300 14px sans-serif;
            background: #009688;
            border: 0;
            padding: 12px 25px;
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
        }

        input[type="file"]::-ms-browse {
            font: 300 14px 'Roboto', sans-serif;
            background: #009688;
            border: 0;
            padding: 12px 25px;
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
        }
</style>

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-heading border bottom">
                <h4 class="card-title text-center">Yeni Fotoğraf Ekle</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto">
                        <form asp-controller="YonetimFotograflar" asp-action="Ekle" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                            <div class="form-group">
                                <label>Fotoğraf Adı</label>
                                <input type="text" class="form-control" asp-for="Ad" placeholder="Fotoğraf Adı Giriniz...">
                            </div>
                            <div class="form-group">
                                <label>Etkinlik Numarası</label>
                                @Html.DropDownList("EtkinlikId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Fotoğraf</label>
                                <input class="form-control" type="file" name="Image" />
                            </div>
                            <center><button type="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Fotoğraf Ekle</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



