@model  EtkinlikFotografs
@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-heading border bottom">
                <h4 class="card-title text-center">Fotoğraf Sil</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto">
                        <form asp-controller="YonetimFotograflar" asp-action="Sil" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                            <div class="form-group">
                                <label>Fotoğraf Adı</label>
                                <input type="text" class="form-control" asp-for="Ad" value="@Model.Ad" readonly>
                            </div>
                            <div class="form-group">
                                <label>Etkinlik Numarası</label>
                                <input type="text" class="form-control" asp-for="EtkinlikId" value="@Model.EtkinlikId" readonly>
                            </div>
                            <div class="form-group">
                                <label>Fotoğraf Yolu</label>
                                <input type="text" class="form-control" asp-for="Fotograf" value="@Model.Fotograf" readonly>
                            </div>
                            <div class="form-group">
                                <label>Fotoğraf</label><br />
                                <center><img src="~/img/etkinlikler/@Model.Fotograf" width="250" /></center>
                            </div>
                            <center><button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Fotoğraf Sil</button></center>
                        </form>
                        <center><a href="/YonetimFotograflar/Index/" class="btn btn-info"><i class="fa fa-undo" aria-hidden="true"></i> Geriye Dön</a></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

